/* DOCUMENT INFORMATION
	- Document: MoreFishyMoreMoney Theme
	- Version:  1.0.0
	- Author:   S. Paske
*/

/*
* ============== FISH LIST ===================
*/

/* Main container for fish list */
#fishList{
    width:35%;
    height:100%;
    float:left;
    margin-right:5%;
}

/* Container for just fishes */
#listOfFishes{
    overflow-y: scroll;
    height:80%;
    width: 100%;
}

/* Container for fish Squares */
#repeatSquares{
    width: 100%;
    height: 90%;
}

/* Squares surrounding each fish */
.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%;
    margin:1.66%;
    background-color:#E1E1E1;
    overflow:hidden;
}

/* Container inside square  */
.content {
    position:absolute;
    height:90%;
    width:90%;
    padding: 5%;
}

/*  For responsive images */
.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}

/*  For responsive images as background */
.bg{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    color:#fff;
}

/*
* —---- Search Box —------
*/

/* Container of search box */
#query{
    width: 100%;
    color: black;
    display:inline-block;
}

/* Interactive search box */
#searchBox {
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url(assets/images/searchicon.png);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float:left;
    margin-left: 1%;
    margin-top: 1%;
}

#searchBox:focus {
    width: 98%;
}

/*
* ============== TANK ===================
*/

/* Main container for tank */
#tank{
    width:60%;
    height:100%;
    float:left;
}

/* Container for title */
#tankTitle{
    background-color: #F1F1F1;
}

/* responsive tank picture */
#tankPicture{
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;
}

/* Container for buy button */
#buyButton{
    height: 10%;
}

/* Generated using CSS3 button generator */
.btn {
    background: #04d948;
    background-image: -webkit-linear-gradient(top, #04d948, #27b80d);
    background-image: -moz-linear-gradient(top, #04d948, #27b80d);
    background-image: -ms-linear-gradient(top, #04d948, #27b80d);
    background-image: -o-linear-gradient(top, #04d948, #27b80d);
    background-image: linear-gradient(to bottom, #04d948, #27b80d);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 5px #666666;
    -moz-box-shadow: 2px 2px 5px #666666;
    box-shadow: 2px 2px 5px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 37px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 100%;
}

.btn:hover {
    background: #00ff00;
    background-image: -webkit-linear-gradient(top, #00ff00, #00ff6f);
    background-image: -moz-linear-gradient(top, #00ff00, #00ff6f);
    background-image: -ms-linear-gradient(top, #00ff00, #00ff6f);
    background-image: -o-linear-gradient(top, #00ff00, #00ff6f);
    background-image: linear-gradient(to bottom, #00ff00, #00ff6f);
    text-decoration: none;
}

/*
* ============== SHARED ===================
*/

/*
* — Image Centering Div —
*/
.outer {
    display: table;
    height: 70%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*
* — basic page properties —
*/

body {
    font-size:20px;
    font-family: 'Lato',verdana, sans-serif;
    color: black;
    text-align:center;
    background:#F1F1F1;
    width:100%;
    height:100%;
    position: absolute;
}

h1{
    margin:0;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

p{
    margin:0;
    padding:0;
    text-align:left;
}

.title{
    width:100%;
    height:20%;
    background-color: #D1D1D1;
    display:table;
    font-size: 60px;
}

.table{
    display:table;
    width:100%;
    height:100%;
}

.table-cell{
    display:table-cell;
    vertical-align:middle;
}

/*
* ============== RESPONSIVE ===================
*/
@media screen and (max-width: 1071px) {
    .title{
        font-size:40px;
    }

    #fishList{
        width:48%;
        height:100%;
        float:left;
        margin-right:2%;
    }

    #tank{
        width:50%;
        height:100%;
        float:left;
    }

    body{
        font-size: 14px;
    }
}

@media screen and (max-width: 615px){

    #tank{
        width:100%;
        height:65%;
        float:left;
    }

    #fishList{
        width:100%;
        height:65%;
        float:left;
    }

    .title{
        font-size:20px;
        height: 10%;
    }

    #tankPicture{
        width: auto;
        height: auto;
        max-height: 50%;
        max-width: 60%;
    }

    .btn{
        font-size: 25px;
        padding: 5px 10px 5px 10px;
    }

}
