<div id="query">
    <input id="searchBox" type="text" name="search" placeholder="Search.." ng-model="$ctrl.query"/>
</div>
<div class="repeatSquares">
    <div ng-repeat="fish in $ctrl.allFishes | filter:$ctrl.query" class="square" ng-click="squareClicked($event,fish)" style="background-color: {{fish.color}}">
        <div class="content">
            <div class="table">
                <div class="table-cell">
                    <img class="rs" src="http://s3.amazonaws.com/kidzworld_photo/images/2016825/37511bee-f24f-42a7-b112-eeb40acf5c04/clown-fish.jpg"/>
                    {{fish.name}}
                </div>
            </div>
        </div>
    </div>
</div>